.register {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  position: relative;
}

.register__left > h1 {
  text-transform: uppercase;
  text-shadow: 3px 3px #aeaeae;
  font-size: 50px;
}

.register__left > img {
  height: 30vh;
}

.register__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 1px 5px #e2e2e2;
  padding: 2rem;
  border-radius: 4px;
}

.register__container > h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px #e2e2e2;
}

.register__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 22vw; */
  padding: 10px;
}

.Toastify__toast-container {
  top: auto;
  right: auto;
}

/* .toast__password {
  top: auto;
  right: auto;
} */
