.chat__container {
  display: flex;
  justify-content: space-between;
}

.recepients {
  width: 25%;
  height: 100vh;
  position: fixed;
}

.online_users {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  height: 7.6vh;
}

.online_users > div {
  border-radius: 50%;
  background: #c0c0c0;
  height: 50px;
  width: 50px;
  text-align: center;
}

.chatted__users {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  height: 100vh;
  margin-top: 7.3vh;
  box-shadow: 1px 1px 1px #c0c0c0;
}

.chatted__users > div {
  /* border-top: 1px solid rgb(216, 216, 216); */
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
}

.chatted__users > div:hover,
.chatted__user {
  background-color: #f2f2f2;
}

.chatted__users > div:last-child {
  /* border-bottom: 1px solid rgb(216, 216, 216); */
}

.chat__screen {
  margin-top: 7.3vh;
  width: 75%;
  margin-left: 25%;
  overflow-y: scroll;
  height: 87.7vh;
  background-color: #f2f2f2;
}

.chat__screen_ {
  width: 75%;
  margin-left: 25%;
  overflow: hidden;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.messages {
  margin-top: 7.5vh;
}

.our_msg {
  margin-left: auto;
  padding: 10px 35px 10px 15px;
  background-color: #b8fde9;
  width: fit-content;
  border-radius: 5px;
  margin-right: 2vw;
  position: relative;
}

.receiver_msg {
  margin-right: auto;
  margin-left: 2vw;
  padding: 10px 35px 10px 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #fff;
  width: fit-content;
}

.chat__screen > form {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  z-index: 1;
}

.chat__nav {
  height: 6.5vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #e1e1e1;
  display: flex;
  align-items: center;
}

.chat__nav > p {
  margin-left: 5vw;
  font-weight: 500;
  opacity: 0.9;
  font-size: 22px;
  text-transform: capitalize;
}

.chat__screen > div {
}
