.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.login__left > h1 {
  text-transform: uppercase;
  text-shadow: 3px 3px #aeaeae;
  font-size: 50px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 1px 5px #e2e2e2;
  padding: 2rem;
  border-radius: 4px;
}

.login__container > h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px #e2e2e2;
}
