.nav {
  position: fixed;
  width: 100%;
  
  background: #fff;
  top: 0;
  border: 1px solid #fafafa;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7vw;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo > h5 {
  text-transform: uppercase;
  text-shadow: 1px 1px #aeaeae;
}
